@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//Experience

#experence {
  position:fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
  overflow:hidden;

  #experence-canvas {
    width: 100%;
    height: 100%;
  }

}